<!DOCTYPE html>
<html>
<head>
	<title>B.A.R.C.</title>
	<link rel="stylesheet" type="text/css" href="../css/index_styles.css">
</head>
<body>
	<div id="container">
		<div id="title">

			<h1>B.A.R.C.</h1>
		</div>
		<div id="intro">
			<p>
			  Welcome to Branding and international relationship cell!!!
			</p>
		</div>

		<div id="authentication">
			<p><strong>Before Proceding kindly authenticate!!!</strong></p>
			<div id="login">
				<br>
				<form action="/profile" method="POST">
  					 Email:<br>
 					 <input type="text" name="email" placeholder = "email@xyz.com" required="true">
 					 <br><br>
					 Password:<br>
					 <input type="password" name="password" placeholder = "" required="true">
					 <br><br>
					 <button class="btn" id="login-btn">LOGIN</button>
				</form> 
			</div>
			<div id="register">
				<form action="/aftersignup" method="POST">
  					 First Name:<br>
 					 <input type="text" name="firstname" placeholder="firstname" required="true">
 					 <br><br>
					 Last Name:<br>
					 <input type="text" name="lastname" placeholder = "lastname" required="true">
					 <br><br>
					 Email:<br>
 					 <input type="text" name="email" placeholder = "email@xyz.com" required="true">
 					 <br><br>
 					 Username:<br>
					 <input type="text" name="username" placeholder = "username" required="true">
					 <br><br>
					 Password:<br>
					 <input type="password" name="password" placeholder = "" id="reg-password" required="true">
					 <br><br>
					 Confirm password:<br>
					 <input type="password" name="conf-password" placeholder = "" id="reg-conf-password" required="true">
					 <br><br>
					 <button class="btn" id="register-btn">REGISTER</button>
				</form> 
			</div>
		</div>
	</div>
</body>
</html>
