<!DOCTYPE html>
<html>
<head>
	<title>TEACHER'S PAGE</title>
	
</head>
<body>
	    <table>
				{% for row in info  %}
				<tr>
					<th> {{ row[0 ]}}</th>
					<th> {{ row[1 ]}}</th>
					<th> {{ row[2 ]}}</th>
					<th> {{ row[3 ]}}</th>
				</tr>
				{% endfor %}
			</table>
	<div id="container">
		<div id="title">

            <h1>TEACHER'S PAGE</h1>
            
		<div id="authentication">
			<p><strong>Before Proceding kindly authenticate!!!</strong></p>
			<div id="ADD">
				<br>
				<form action="/profile/add" method="POST">
  					 Name:<br>
 					 <input type="text" name="name" placeholder="" required="true">
 					 <br><br>
					 Age:<br>
					 <input type="text" name="age" placeholder="" required="true">
					 <br><br>
					 email id:<br>
                     <input type="text" name="email" placeholder="" required="true">
                     teacher:<br>
                     <input type="text" name="tname" placeholder="" required="true">
					 <button class="btn" id="update-btn">ADD</button>
				</form> 
			</div>
			<div id="delete">
                <form action="/profile/delete" method="POST">
                     Name:<br>
                     <input type="text" name="name" placeholder="" required="true">
                     teacher:<br>
                     <input type="text" name="tname" placeholder="" required="true">
					 <br><br>
					 <button class="btn" id="delete-btn">DELETE</button>
				</form> 
			</div>
		</div>
    </div>
</body>
</html>
