<!DOCTYPE HTML>
<html>
<head>
<style>
table,td,tr
{border: 2px solid black;
text-align:center;
}
h1{text-align:center;}
</style>

<script language="javascript">
 function addRow(tableID)
 {
  var table = document.getElementById(tableID);
  var rowCount = table.rows.length;
  var row = table.insertRow(rowCount);
  
  var cell1 = row.insertCell(0);
  var element1 = document.createElement("input");
  element1.type = "text";
  element1.name = "Name";
  cell1.appendChild(element1);
  
  var cell2 = row.insertCell(1);
  var element2 = document.createElement("input");
  element2.type = "text";
  element2.name = "Roll no";
  cell2.appendChild(element2);
  
  var cell3 = row.insertCell(2);
  var element3 = document.createElement("input");
  element3.type = "text";
  element3.name = "gmail";
  cell3.appendChild(element3);
  
  var cell4 = row.insertCell(3);
  var element4 = document.createElement("input");
  element4.type = "checkbox";
  element4.name = "check";
  cell4.appendChild(element4);
  
 }
 function deleteRow(tableID)
 {
 try{
 var table = document.getElementById(tableID);
 var rowCount = table.rows.length;
 
 for(var i=0;i<rowCount;i++)
 {
 var row=table.rows[i];
 var checkbox = row.cells[3].childNodes[0];
 if(null != checkbox && true == checkbox.checked)
 {
 table.deleteRow(i);
 rowCount--;
 i--;
 }
 }
 }
 catch(e)
 {alert(e);}
 }
 
</script>
</head>
<body>
<h1> Teacher's Page </h1>
<input type="button" value="Add Student" onclick="addRow('datatable')"/>
<input type="button" value="Delete Student" onclick="deleteRow('datatable')" />

<table id="datatable" width=100% >
<thead>
<tr>
<td>Name</td>
<td>Roll No.</td>
<td>Gmail</td>
<td>
</tr>

</thead>
</table>
</body>
